<h1>Editing resource</h1>

<% form_for(@resource,:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %><br />

    <%= f.label :description %>
    <%= f.text_area :description %><br />

    <%= f.label :language_id %>
    <%= f.text_field :language_id %><br />

    <%= f.label :document %>
	<%= f.file_field :document %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @resource %> |
<%= link_to 'Back', resources_path %>